body { 
  /*background: url(../img/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
   background: rgba(255, 255, 255, 0.5); 
   text-align: center;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    padding=15px;
    font-size:20px;
}