body {
  /*background: url(../img/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
/*just for fixing the flickering problem of navbar*/

.jumbotron {
   background: rgba(255, 255, 255, 0.5);
   text-align: center;
}
.container{
	color: white;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    padding=15px;
    font-size:20px;
}

h1{
	text-decoration-color: blue;

}
.nav {
  background-color: #aaa;
  height: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.nav-wrapper {
  height: 60px;
}

.affix {
  top: 0;
  width: 100%;
}

body {
      position: relative;
  }
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
